<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.clientportal.api.test.Depositories</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdepositoresidBranchesidTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getDepositoriesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postdepositoresidBranchesidfeeSchedulesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>patchdepositoresidBranchesidfeeSchedulesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postDepositoresidBranchesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GET_Sponssors_DepositoriesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>POST_depositories_getclient</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getdepositoresidBranchesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteDepositories</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GET_Sponsor_DepositoriesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>patchdepositoresidBranchesidfeeSchedulesfeebracetsidTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>patchdepositoresidBranchesidTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletedepositoresidBranchesidfeeSchedulesfeebracetsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletedepositoresidBranchesidTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getdepositoresidBranchesidfeeSchedulesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>patchDepositoresid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getdepositoresidBranchesidfeeSchedulesfeebracetsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>POST_depositories_client</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DELETE_depositories_deleteclient</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DELETE_frontend_sponsor_depositoriesid_delete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DELETE_Sponssors_DepositoriesidTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostDepositoriesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postdepositoresidBranchesidfeeSchedulesfeebracetsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getDepositoriesid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getepositoresidBranchesidfeeSchedulesfeebracetsidTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletedepositoresidBranchesidfeeSchedulesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loadResource</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
