<h2>Methods that were not run</h2><table>
<tr><td>com.clientportal.api.test.Depositories.POST_depositories_getclient</td></tr>
<tr><td>com.clientportal.api.test.Depositories.getdepositoresidBranchesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.POST_depositories_client</td></tr>
<tr><td>com.clientportal.api.test.Depositories.patchDepositoresid</td></tr>
<tr><td>com.clientportal.api.test.Depositories.deleteDepositories</td></tr>
<tr><td>com.clientportal.api.test.Depositories.postdepositoresidBranchesidfeeSchedulesfeebracetsTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.getepositoresidBranchesidfeeSchedulesfeebracetsidTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.patchdepositoresidBranchesidfeeSchedulesfeebracetsidTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.deletedepositoresidBranchesidfeeSchedulesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.GET_Sponsor_DepositoriesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.getdepositoresidBranchesidfeeSchedulesfeebracetsTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.getDepositoriesid</td></tr>
<tr><td>com.clientportal.api.test.Depositories.DELETE_Sponssors_DepositoriesidTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.patchdepositoresidBranchesidTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.deletedepositoresidBranchesidfeeSchedulesfeebracetsTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.getdepositoresidBranchesidTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.postDepositoresidBranchesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.GET_Sponssors_DepositoriesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.deletedepositoresidBranchesidTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.getdepositoresidBranchesidfeeSchedulesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.DELETE_depositories_deleteclient</td></tr>
<tr><td>com.clientportal.api.test.Depositories.postdepositoresidBranchesidfeeSchedulesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.patchdepositoresidBranchesidfeeSchedulesTest</td></tr>
<tr><td>com.clientportal.api.test.Depositories.DELETE_frontend_sponsor_depositoriesid_delete</td></tr>
</table>