<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78c790">  <td>18/11/19 11:10:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Depositories.PostDepositoriesTest()[pri:1, instance:com.clientportal.api.test.Depositories@5702b3b1]">PostDepositoriesTest</td> 
  <td>main@708533063</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>18/11/19 11:10:33</td>   <td>-3339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Depositories.getDepositoriesTest()[pri:0, instance:com.clientportal.api.test.Depositories@5702b3b1]">getDepositoriesTest</td> 
  <td>main@708533063</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>18/11/19 11:10:33</td>   <td>-3479</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Depositories.loadResource()[pri:0, instance:com.clientportal.api.test.Depositories@5702b3b1]">&gt;&gt;loadResource</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@708533063</td>   <td></td> </tr>
</table>
